<!DOCTYPE html>
<html>
  <head>
    <title>The Daily World</title>
    <link type="text/css" rel="stylesheet" href="style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class='header'>
      <h1 class='title'>The Daily World</h1>
      <h3 id="todaysDate"></h3>
    </div>

    <% for(let i=0; i < headlinelist.length; i++) { %>
        <div class='headline'><span class='icon'><%= headlinelist[i].icon %></span><h1><a href=<%= headlinelist[i].source %> target="_blank"><div class="tooltip"><span class="tooltiptext"><%= headlinelist[i].name %></span><span class="entityName"><%= headlinelist[i].abbr %></span>:</a></div> <a href=<%= headlinelist[i].link %> target="_blank"><%= headlinelist[i].title %></a></h1></div>
    <% } %>

    <script type="text/javascript">
        var months = ['January','February','March','April','May','June','July','August','September','October','November','December'];       
        var today = new Date();    
        document.getElementById("todaysDate").innerHTML = months[today.getMonth()] + " " + today.getDate()+ ", " + today.getFullYear();
    </script>
  </body>
</html>